extends ../layout

block contents
    .section
        .container
            br
            br
            h1.header.center.orange-text Linear Algebra

    .container
        .section
            .row
                .col.s12.m4
                    h5.center Linear Algebra
                    ul
                        li
                            a(href="/linear-algebra/rows-columns-vectors-matrices.html") Rows, Columns, Vectors, and Matrices
                        li
                            a(href="/linear-algebra/matrix-multiplication.html") Matrix Multiplication
                        li
                            a(href="#") Inverse Matrices and Gauss-Jordan
